/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



.website {

	width:50%;
	margin:0 auto;

}

.nav-links{

	
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	
	

}
.nav-links a{

	color:grey;
	text-decoration:none;

}
.nav-links a:hover{

	animation-name:nav-anim;
	animation-duration: 1.5s;
	  

}

.logo {

	
	width:15%;
	height:3.5vh;
	padding-top:3px;
	
	

}
header {

	display:flex;

}
.page-header {

	
	width:50%;
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	padding-top:30px;
	

}
.page-header h1 {

	font-size:75px;
	text-align:center;
	

}
.start-button {

	border:1px solid grey;
	width:125px;
	text-align:center;
	margin:0 auto;
	padding:3px 0px;

}
.header-img {


	
	padding-top:50px;
	padding-left:95px;
	width:50%;
	

}

.mid-section-info {

	border-top:1px solid black;
	border-bottom:1px solid black;
	margin-top:70px;

}

.mid-section-top {


	display:flex;

}
.features {


	width:50%;
	padding:30px 10px 30px 0px;
	

}
.about {

	
	width:50%;
	padding:30px 10px 30px 25px;
	

}
.middle-img {

	
	width:100%;

}
.mid-section-bot {


	display:flex;
	justify-content:space-between;

}
.services {

	
	padding:30px 0px 30px 0px;
	width:33.3%;
	
	

}

.product {

	
	padding:30px 0px 30px 0px;
	width:33.3%;
	
	

}
.vision {

	
	padding:30px 0px 30px 0px;
	width:33.3%;
	
	

}
.contact {

	padding-top:30px;

}
.copywrite {


		text-align:center;
		margin-top:50px;

}

@keyframes nav-anim {
	0% {color: grey;}
	50% {color: #1871ff;}
	100% {color:grey;}
  }
